*.dSYM
*.prof
*.orig
*.pprof
*.out
*.cbp

.ipynb_checkpoints
.idea

gtfxx
test.cpp

CMakeFiles
CMakeCache.txt
cmake_install.cmake

googletest-build/
googletest-download/
googletest-src/

#googletest-master/
#googletest/gtest-all.o
#libgtest.a
output.txt

deque
deque_v1.cpp
